html {
    box-sizing : border-box;
    height: 100%;
}
*,
*::before
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;

    /* Generic random Gradient alternative*/
    /* background: linear-gradient(320deg, #eb92be,#ffef78,#63c9b4);  */

    /* Gradient mesh alternative*/
    /* background-color:#ff99b4;
    background-image:
    radial-gradient(at 59% 60%, hsla(27,96%,66%,1) 0px, transparent 50%),
    radial-gradient(at 1% 37%, hsla(78,67%,60%,1) 0px, transparent 50%),
    radial-gradient(at 33% 62%, hsla(319,78%,66%,1) 0px, transparent 50%),
    radial-gradient(at 36% 16%, hsla(151,65%,61%,1) 0px, transparent 50%),
    radial-gradient(at 38% 21%, hsla(136,93%,76%,1) 0px, transparent 50%),
    radial-gradient(at 34% 25%, hsla(147,80%,65%,1) 0px, transparent 50%),
    radial-gradient(at 81% 37%, hsla(96,76%,62%,1) 0px, transparent 50%); */

    background-image: linear-gradient(120deg, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    display:flex;
    font-family: 'Dosis',sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.75);
    border : 1px solid rgba(255,255,255,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255,255,255,0.30);
    border :1px solid rgba(255,255,255,0.34);
    flex-basis: 400px;
    height: 540px;
    padding:20px 35px;
}

.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.75);
    border: 10px solid rgba(255,255,255,0.1);
    border-radius:16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color:#232323;
    font-size: 35px;
    overflow:auto;
    padding: 20px;
    text-align: right;
    width: 340px;
}

.calc-button-row{
    display: flex;
    justify-content: space-between; 
    margin:5% 0;
}

.calc-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background : rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(35, 35, 35, 01);
    color:232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size:24px;
    height:65px;
}
.calc-button:last-child {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(35, 35, 35, 01);
    color:#fff;
    background : rgba(209, 90, 126, 0.842);
    height:65px;
}

.calc-button:last-child:hover{
    background-color: inherit;
    color:inherit;
}

.calc-button:hover{
    background-color: inherit;
}

.calc-button:active{
    background-color: #b2e69d;
}
.calc-button:last-child:active{
    background-color: #b2e69d;
}
.double{
    flex-basis: 47%;
}

.triple{
    flex-basis: 73%;
}